<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <!-- <mat-card-title>About me</mat-card-title> -->
        <mat-card-subtitle>Hello and welcome to my portfolio website! My name is Daniel Ballem and I'm a passionate and versatile software developer.</mat-card-subtitle>
        <mat-card-subtitle>I have a strong foundation in software development, with interests in architecture, AI, networking, game development and graphics!</mat-card-subtitle>
        <mat-card-subtitle>On this website, you'll find a selection of my work including completed projects, prototypes and work experience.</mat-card-subtitle>
        <mat-card-subtitle>Thank you for visiting, and I hope to have the opportunity to work with you on future projects!</mat-card-subtitle>


        <img mat-card-avatar src="../../assets/daniel.jpeg">
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>