mat-card-title {
  font-size: xxx-large;
}

mat-card-subtitle {
  overflow: auto;
  width: 80%;
  font-size: medium;
  margin-bottom: 20px;
  font-style: normal;
  color: black;
}

.mat-mdc-card-avatar {

    height:15rem;
    width: 15rem;
}